page-login {
.marginTop{
    margin-top:30px;
}
.marginHeader{
    margin-top:150px;
}

ion-content{
    background-image:url('../assets/imgs/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
}
